main {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    min-width: 250px;
    position: relative;
  }
  
  h1 {
    font-family: 'Josefin Sans'; sans-serif;
    color: #3c3c3c;
    font-size: 22px;
    text-transform: uppercase;
    padding: 50px 20px;
    margin: 0px -20px;
    text-align: center;
}

  ul::after { /*udělat průhledné pozadí je celkem složité */
    content: "";
    background-image: url(StayHomeWWWkurz/0_images/Greenfox.PNG);
    display: block;
    opacity: 0.3;
    background-position: center;  
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 13%;
    z-index: -1;
    margin-top: auto;
    padding-left: 30%;

  }

p {
    font-family: 'Josefin Sans'; sans-serif;
    color: #3c3c3c;
    font-size: 18px;
    line-height: 1.6;
    padding: 0px;
    margin: 30px 30px;
  }
#italic {
  font-style: italic;
}
  
ul {
    font-family: 'Josefin Sans'; sans-serif;
    color: #3c3c3c;
    font-size: 18px;
    line-height: 1.6;
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    list-style-type: square;
  }

a {
    text-decoration:none;
    color: #3c3c3c;
  }

a:hover {
    font-weight: bold;
  }

